* {
    margin: 0;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFF8CF;
}
#header {
    width: 100%;
    height: 100px;
    background-color: #9BD8D4;
    display:flex;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
ul {
    display: flex;
    gap: 50px;
    color: black;
}
li {
    display:inline-block;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.links {
    display: grid;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
#logotipo {
    grid-column: 1;
}
.usuario {
    display: flex;
    grid-column: 3;
    justify-content: end;
    text-emphasis-color: black;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif  ;
}

.listalinks li{
    list-style: none;
    display: inline-block;
    width: 205px;
    text-transform: uppercase;
} 

.listalinks li :hover {
    background-color: rgb(198, 243, 247);
    border-radius: 30px;
    padding-bottom: 10px;
}

#linhadotitulo {
    height: 10px;
    width: 550px;
    background-color: #62b29f;   
    position: absolute;
    left: 350px;
    top: 125px;
}

#subtitulo { /*alexandria*/
    font-family: 'Zen Old Mincho';
    font-size: 45px;
    position: absolute;
    left: 495px;
    top: 95px;
    font-weight: bold
    
}

.linhaAmarela {
    position: absolute;
    width: 550px;
    height: 40px;

    background: #FBF19B;
    border-radius: 25px;

    left: 350px;
    top: 185px;
} 

#tituloimg {
display: flex;
}

.titulo {
    font-family: 'Zen Old Mincho';
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    top: 170px;
    left: 530px;
    font: bold;
    text-shadow: 4px 8px 5px #B5B5B5;
}

#logodocorpo {
    display: flex;
    height: 200px;
}

#imgInfo {
    display: flex;
    flex-direction: column;

    left: 350px;
    margin-top: 160px;
    position: relative;
    align-content: space-around;

}



/* alinhamento dos texros com imagem*/
.testar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 35px;
}

.testar2 { /* especial */
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;

}

.testar3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* .testar4 {
}
 */

/* fundos coloridos */

.pessoas{
    background-color: #FBF19B;
    width: 60%;
    border-radius:25px;
    margin-left: 18px;
    padding-left: 25px;
    padding-bottom: 20px;
}

.numero {
    background-color: #FBF19B;
    width: 60%;
    height: 70px;
    border-radius:25px;
    margin-left: 5px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 5px;

}

.mensagem {
    background-color: #FBF19B;
    width: 60%;
    height: 70px;
    border-radius:25px;
    margin-left: 15px;
    padding-left: 25px;
    padding-top: 15px;
    margin-top: 5px;
}

.logodomeio {
    margin-top: 200px;
    margin-left: 1000px;
}

#logoo {
    display: flex;
    margin-top: -280px;
    margin-left: 570px;
}

/* formulario */

form {
    background-color: #FBF19B;
    border-radius: 20px;
    padding: 50px;
    width: 590px;
    margin-left: 340px;
    margin-top: 25px;

    }

label {
    display: block;
    font-size: 18px;
    font-weight: 10px;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    box-shadow: inset 3px 3px 5px #C6C4C4;
    font-size: 10px;
}

input[type="submit"] {
    background-color: rgb(0, 153, 184);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 185px;
    width: 150px;
    height: 50px;
}

input[type="submit"]:hover {
background-color: #79C1EA
}

.caixas {
    margin-left: 15px ;
}



      
