* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zen Old Mincho';
}

body {
    background-color: #FFF8CF;
}
#header {
    width: 100%;
    height: 100px;
    background-color: #9BD8D4;
    display:flex;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
ul {
    display: flex;
    gap: 50px;
    color: black;
}
li {
    display:inline-block;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.links {
    display: grid;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
#logotipo {
    grid-column: 1;
}
.usuario {
    display: flex;
    grid-column: 3;
    justify-content: end;
    text-emphasis-color: black;
}


#loginn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif  ;
}

.listalinks li{
    list-style: none;
    display: inline-block;
    width: 205px;
    text-transform: uppercase;
} 

.listalinks li :hover {
    background-color: rgb(198, 243, 247);
    border-radius: 30px;
    padding-bottom: 10px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
}

.titulopg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palavra1 {
    font-family: 'Zen Old Mincho';
    font-size: 25px;
    position: absolute;
    left: 550px;
    top: 100px;
    font-weight: bold
      
}
.categorias {
    flex-direction: column;
    display: flex;
  align-content: space-between;
  margin-top: 16px;
margin-left: 8px;
}
#linhadotitulo {
    height: 15px;
    width: 375px;
    background-color: #63B29F;   
    position: absolute;
    right: 440px;
    top: 110px;
}

.amado {
    margin-top: -95px;
    display: inline-flex;
}

.palavra2 {
    position: absolute;
    top: 200px;
   left: 400px;
    font-family: 'Quattrocento', serif;
    font-size: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#logotitulo {
    height: 90px;
    width: 70px;
    position:absolute;
    top: 190px;
    left: 865px;
}


#linhadomeio {
    height: 15px;
    width: 85%;
    background-color: #63B29F;  
    position: absolute;
    top: 300px;
}

.categ {
    justify-content:start;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
}

.categ a :hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.divmeio {
    width: 90%;

}

.meio{
    margin-top: 45PX;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#livros:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}






/*footer {
    background-color: aqua;
    width: 100%;
    height: 50px;
}

    margin-top: 200px;
*/ 


